#get-credentials.ui.tiny.modal
	.modal-header.ui.header
		h4 Восстановление пароля
	.content
		form#get-credentials-form.ui.small.form(method="post")
			.field
				label Пожалуйста, введите адерс электронной почты для восстановления
				input.form-control.ui.input.fluid(type="text", id='email-tf', name="email").required
				.form-error
					.header.error-header
					p.error-message
			.action
				button#retrieve-password-cancel.ui.button Отменить 
				button#retrieve-password-submit.ui.button.primary(type="submit") Продолжить
